<% action = (cat.persisted? ? cat_url(cat) : cats_url) %>

<section class="light-blue-box form-page">
    <h1><%= cat.persisted? ? "Edit My Cat" : "New Cat" %></h1>
    <br>
    <form action="<%= action %>" method="post">
        <% if cat.persisted? %>
            <input type="hidden" name="_method" value="PATCH">
        <% end %>

        <input type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">

        <label for="cat_name">Name</label>
        <input type="text" id="cat_name" name="cat[name]" value="<%= cat.name %>">
        <br>

        <label for="birth_date">Birth Date</label>
        <input type="date" id="birth_date" name="cat[birth_date]" value="<%= cat.birth_date %>">
        <br>

        <label for="cat_color">Color</label>
        <select name="cat[color]" id="cat_color">
            <% unless cat.persisted? %>
                <option selected disabled></option>
            <% end %>
            <% Cat::CAT_COLORS.each do |color| %>
                <option value="<%= color %>" <%= "selected" if color == cat.color %> >
                    <%= color %>
                </option>
            <% end %>
        </select>
        <br>

        <input type="radio" name="cat[sex]" value="F" id="female" <%= "checked" if "F" == @cat.sex %> >
        <label for="female">Female</label>
        <input type="radio" name="cat[sex]" value="M" id="male" <%= "checked" if "M" == @cat.sex %> >
        <label for="male">Male</label>
        <br>

        <label for="description">Description</label>
        <br>
        <textarea name="cat[description" id="description">
            <%= @cat.description %>
        </textarea>
        <br><br>

        <input type="submit" value="<%= cat.name.nil? ? "Create cat!" : "Update cat!" %>">
    </form>
</section>