<h1><%= @current_cat.name %></h1>
<table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Age</td>
        <td><%= @current_cat.age %></td>
    </tr>
    <tr>
        <td>Birth_Date</td>
        <td><%= @current_cat.birth_date %></td>
    </tr>
    <tr>
        <td>color</td>
        <td><%= @current_cat.color %></td>
    </tr>
    <tr>
        <td>sex</td>
        <td><%= @current_cat.sex %></td>
    </tr>
</table>