<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="flex header-nav">
        <h1>
          <%= link_to '99 Cats', cats_url, class: "logo" %>
        </h1>
        <div>
          <a href="#">Sign In</a>
          <a href="#">Sign Up</a>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
